train/Chest-X-Ray/
job-monitor/.env
job-monitor/github-secret.yaml
train-classifier/chest_xray/
# Log files
*.log
nohup*.log
nohup.out

# NFS temporary files
.nfs*

# Other common files to ignore
__pycache__/
*.pyc
*.pyo
.env
.DS_Store
.log